<table class="profile" summary="Profile information">
  <tr>

    <td class="sidebar round">
      <h1>All users</h1>
      <%= will_paginate %>

      <% @users.each do |user| %>
          <div class="userdiv">
            <div class="post_username"><%= link_to user.name, user %></div>
            <div style="float: right; width: auto;">
              <% if current_user.admin? %>
                  <%= button_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
              <% end %>
            </div>
          </div>

      <% end %>
      </ul>
      <%= will_paginate %>
    </td>
    <td class="createsidebar round">
      <% if !current_user.nil? and current_user.admin? %>
          <h1>Create User/Admin</h1>
          <% @newuser = User.new %>

          <%= form_for(@newuser) do |f| %>
              <%= render 'shared/error_messages', :object => f.object %>
              <div class="field">
                <%= f.label :name %>
                <br/>
                <%= f.text_field :name %>
              </div>
              <div class="field">
                <%= f.label :email %>
                <br/>
                <%= f.text_field :email %>
              </div>
              <div class="field">
                <%= f.label :password %>
                <br/>
                <%= f.password_field :password %>
              </div>
              <div class="field">
                <%= f.label :password_confirmation, "Confirmation" %>
                <br/>
                <%= f.password_field :password_confirmation %>
              </div>
              <div class="field">
                <%= f.label :admin, "Is Admin : Input 'true/false'" %>
                <br/>
                <%= f.text_field :admin %>
              </div>
              <div class="actions">
                <%= f.submit "Create" %>
              </div>
          <% end %>
      <% end %>
    </td>
  </tr>
</table>



