<tr>
  <div id="<%= "post_#{feed_micropost_item.id}" %>">
    <div class="postdiv">
      <div class="post_username"><%= link_to feed_micropost_item.user.name,feed_micropost_item.user  %></div>
      <div class="post_message"><%= feed_micropost_item.content %>
      </div>
      <div class="options">
        <% if signed_in? %>
            <div style="float: left; width: auto;">
              <%= button_to "comment", "/users/#{current_user.id}/microposts/#{feed_micropost_item.id}/comment" %>
            </div>
            <% if current_user?(feed_micropost_item.user) or current_user.admin %>
                <div style="float: left; width: auto;">
                  <%= button_to "delete", feed_micropost_item, :method => :delete,
                                :confirm => "You sure?",
                                :title => feed_micropost_item.content %>
                </div>
            <% end %>
            <div style="float: left; width: auto;">
              <%= button_to "vote : #{feed_micropost_item.no_of_vote}", "/users/#{current_user.id}/microposts/#{feed_micropost_item.id}/vote" %>
            </div>
        <% end %>
      </div>
      <% replylist= Micropost.find_all_by_micropost_id(feed_micropost_item.id)
         for replymsg in replylist %>
          <div class="replydiv">
            <div class="reply"><%= link_to replymsg.user.name,replymsg.user  %><%= " : #{replymsg.content}" %></div>

            <% if signed_in? %>
                <div class="cheerbox">
                  <%= button_to "vote : #{replymsg.no_of_vote}", "/users/#{current_user.id}/replymsg/#{replymsg.id}/vote" %>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</tr>
