<tr>
  <div id="<%= "post_#{feed_item.id}" %>">
    <div class="postdiv">
      <div class="post_username"><%= feed_item.user.name %></div>
      <div class="post_message"><strong> : </strong><%= feed_item.content %></div>
      <div class="post_timestamp">Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</div>

      <div class="options">
        <% if signed_in? %>
            <%= link_to "comment", "/users/#{current_user.id}/microposts/#{feed_item.id}/comment" %>
            <% if !current_user.nil? and current_user.admin %>
                <%= link_to "delete", "/users/#{current_user.id}/microposts/#{feed_item.id}/destroy" %>
            <% end %>
            <%= link_to "vote(#{feed_item.no_of_vote})", "/users/#{current_user.id}/microposts/#{feed_item.id}/vote" %>
        <% end %>
      </div>
      <% replylist= Micropost.find_all_by_micropost_id(feed_item.id)
         for replymsg in replylist %>
          <div class="replydiv">
            <div class="reply"><%= link_to replymsg.user.name, replymsg.user %><%= " : #{replymsg.content}" %></div>
            <% if !current_user.nil? and current_user.admin %>
                <%= link_to "delete", "/users/#{current_user.id}/microposts/#{replymsg.id}/destroy" %>
            <% end %>
            <% if signed_in? %>
                <%= link_to "vote : #{replymsg.no_of_vote}", "/users/#{current_user.id}/microposts/#{replymsg.id}/vote" %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</tr>

